body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1530px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-color: #fff;
  max-width: 1500px;
  margin: 0px;
  background-color: black;
  
}

.header h1 {
  color: white;
}

.linkTitulo {
  text-decoration: none;
}

.paragrafo {
   margin-left: 20px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav a {
  background-color: black;
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding: 6px 10px;
  display: block;
  margin-right: 20px;
  text-align: center;
  font-size: 24px;
}

.nav li {
   list-style-type: none;
   float: left;
}

.introducao {
  background-color: #111;
  padding: 60px 0px 300px 20px;
  color: white;
  position: relative;
  z-index: 1;
}

.introducao p {
  padding: 0px;
  margin: 0px;
  font-size: 2rem;
  color: grey;
}

.introducao h1 {
  font-size: 4rem;
  margin: 0px;
}

.period {
  color: darkblue;
}

.segundaParte {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 0px 60px;
  border-radius: 4px;
}

.spContatos {
    background-color: black;
    color: white;
}

.spContatos h2{
  margin-left: 20px;
  padding: 50px;
}

.spContatos img {
  margin-left: 20px;

}

.spListaContatos li {
  list-style-type: none;
  padding: 0px 0px 20px 30px;
  color: grey;
}

.spEmail::before {
  content: '';
  background: url('images/icones/email.svg');
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  background-position: center;
  vertical-align: middle;
}

.spTelefone::before {
  content: '';
  background: url('images/icones/telefone.svg');
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  background-position: center;
  vertical-align: middle;
}

.spEndereco::before {
  content: '';
  background: url('images/icones/local.svg');
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
  background-position: center;
  vertical-align: middle;
}

.spEndereco1 {
  margin-left: 30px;
}

.spForm {
  padding: 70px;

}

.spForm input, textarea {
  border: 2px solid black;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: rgb(215, 213, 213);
}

.spForm input:focus, textarea:focus {
  border: 3px solid #555;
}

.spBtn {
  margin-top: 20px;
  background-color: blue;
  border: solid 2px;
  border-radius: 4px;
  color: white;
  padding: 15px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}






.footer {
  background-color: black;
}

.footer-container {
  max-width: 1500px;
  padding: 60px 20px 30px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;
  align-items: center;
}

.logo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0px 0px 30px;
}

.footer-contato {
  font-size: 1.7rem;
  color: white;
}

.footer-contatos {
  padding-top: 10px;
}
.footer-contatos li {
  font-size: 1.2rem;
  line-height: 1.1;
  color: grey;
  margin-bottom: 30px;
  line-height: 1px;
  padding-top: 0px;
  margin-top: 0px;
  list-style-type: none;
}

.footer-contatos li a {
  color: grey;
  text-decoration: none;

}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
  margin-top: 50px;
}

.footer-detalhe {
  display: block;
  color: grey;
  margin: 20px;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contatos li {
    font-size: 1.5rem;
  }
}