* {
  font-family: Arial;
}

.titulo {
  text-align: center;
}

.carro {
  color: white;
  background-color: black;
  padding: 20px;
}

.bicicleta {
  color: white;
  background-color: black;
  padding: 20px;
}

a {
  color: #332200;
  background-color: #febe01;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px;
}

span {
  color: #febe01;
}

p {
  color: #b2b2b2;
  padding-bottom: 10px;
}
