body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

label {
  display: block;
}

input {
  margin-bottom: 20px;
  font-size: 1.2rem;
  padding: 10px;
  background: #8f8f8f;
  color: white;
  border-left-style: solid;
  border-left-width: 10px;
  border-left-color: black;
}

button {
  display: block;

}
